<div class="neos-dropdown" id="neos-sort-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Sort options">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#neos-sort-menu">

      <i class="icon-sort-by-order"></i>

    </a>

  </span>

  <div class="neos-dropdown-menu-list neos-pull-right" role="menu">

    <span class="neos-dropdown-menu-list-title" title="">Sort by</span>

    <ul>

      <li>

        <a class="neos-active" title="Sort by last modified" href="http://dev.neos/neos/management/media/?moduleArguments%5BsortBy%5D=Modified"><i class="icon-sort-by-order"></i> Last modified</a>

      </li>

      <li>

        <a title="Sort by title" href="http://dev.neos/neos/management/media/?moduleArguments%5BsortBy%5D=Name"><i class="icon-sort-by-alphabet"></i> Title</a>

      </li>

    </ul>

    <span class="neos-dropdown-menu-list-title">Sort direction</span>

    <ul>

      <li>

        <a class="neos-active" title="Sort direction Ascending" href="http://dev.neos/neos/management/media/?moduleArguments%5BsortDirection%5D=ASC"><i class="icon-sort-by-order"></i> Ascending</a>

      </li>

      <li>

        <a title="Sort direction Descending" href="http://dev.neos/neos/management/media/?moduleArguments%5BsortDirection%5D=DESC"><i class="icon-sort-by-order-alt"></i> Descending</a>

      </li>

    </ul>

  </div>

</div>