<div class="neos-dropdown" id="author-filter-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Filter options">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#author-filter-menu">

      <i class="icon-user"></i>

    </a>

  </span>

  <ul class="neos-dropdown-menu neos-pull-right" role="menu">

    <f:for each="{authorFilterMenu}" as="authorName">

      <li>
        <f:form.hidden name="authorName" value="{authorName}" />
        <f:form.button class="neos-button">

          <i class="icon-user"></i>

          {authorName}

        </f:form.button>

      </li>

    </f:for>

  </ul>

</div>