<div class="neos-dropdown" id="blog-filter-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Filter options">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#blog-filter-menu">

     <i class="icon-book"></i>

    </a>

  </span>

  <ul class="neos-dropdown-menu neos-pull-right" role="menu">


    <f:for each="{blogFilterMenu}" as="blog" key="blogName">

      <li>
        <f:form.hidden name="blogNode" value="{blog}" />
        <f:form.button class="neos-button">

          <i class="icon-book"></i>

          {blogName}

        </f:form.button>

      </li>

    </f:for>

  </ul>

</div>