<div class="neos-dropdown" id="category-filter-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Filter options">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#category-filter-menu">

      <i class="icon-bookmark"></i>

    </a>

  </span>

  <ul class="neos-dropdown-menu neos-pull-right" role="menu">

    <f:for each="{categoryFilterMenu}" as="category" key="categoryName">

      <li>
        <f:form.hidden name="categoryObject" value="{category}" />
        <f:form.button class="neos-button" >
          <i class="icon-bookmark"></i>
          {categoryName}
        </f:form.button>
      </li>

    </f:for>

  </ul>

</div>