<div class="neos-dropdown" id="dimensions-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Dimension Menu">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#dimensions-menu">

      <i class="icon-caret-down pull-right"></i>

      <f:if condition="{dimensionLabel}">

        <f:then>

          {dimensionLabel}

        </f:then>

        <f:else>

          {defaultLanguage}

        </f:else>

      </f:if>

    </a>

  </span>

    <ul class="neos-dropdown-menu neos-pull-right" role="menu">

      <f:for each="{dimensions}" key="languageName" as="dimension">

        <li>

          <f:link.action action="index" arguments="{dimension: dimension, dimensionLabel: languageName}">

            {languageName}

          </f:link.action></li>

      </f:for>

    </ul>

</div>