<div class="neos-dropdown" id="workspace-filter-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Filter options">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#workspace-filter-menu">

     <i class="icon-th-large"></i>

    </a>

  </span>

  <ul class="neos-dropdown-menu neos-pull-right" role="menu">

    <f:for each="{workspaceFilterMenu}" as="workspace" key="workspaceName">

      <li>
        <f:form.hidden name="workspaceObject" value="{workspace}" />
        <f:form.button class="neos-button">

          <i class="icon-th-large"></i>
          {workspaceName}

        </f:form.button>

      </li>

    </f:for>

  </ul>

</div>