<div class="neos-dropdown" id="workspace-filter-menu">

  <span title="" data-neos-toggle="tooltip" data-original-title="Filter options">

    <a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#workspace-filter-menu">

     <i class="icon-th-large"></i>

    </a>

  </span>

  <ul class="neos-dropdown-menu neos-pull-right" role="menu">

    <li><f:link.action action="index" ><i class="icon-th-large"></i> All</f:link.action></li>

    <f:for each="{workspaceFilterMenu}" as="workspace" key="workspaceName">

      <li>

        <f:link.action action="index" arguments="{workspaceObject: workspace, dimension: activeDimension}">

          <i class="icon-th-large"></i>

          {workspaceName}

        </f:link.action></li>

    </f:for>

  </ul>

</div>