{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace blog=ObisConcept\NeosBlog\ViewHelpers}

<div class="blog-post-list">
  <f:if condition="{postCollection}">
    <f:then>
      <blog:widget.paginate widgetId="blog-paginator" nodes="{postCollection}" as="paginatedPostCollection" configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
        <f:for each="{paginatedPostCollection}" as="post" iteration="postIteration">
          <ts:render path="postItem" context="{node: post}" />
          <f:if condition="{postIteration.isLast} == 0">
            <hr />
          </f:if>
        </f:for>
      </blog:widget.paginate>
    </f:then>
    <f:else>
      <f:if condition="{neos:rendering.inBackend()}">
        <f:if condition="{blogFolderNode}">
          <f:then>
            <f:translate id="message.noPosts" package="ObisConcept.NeosBlog" source="Main"></f:translate>
          </f:then>
          <f:else>
            <f:translate id="message.noFolderSelected" package="ObisConcept.NeosBlog" source="Main"></f:translate>
          </f:else>
        </f:if>
      </f:if>
    </f:else>
  </f:if>
</div>
